<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Ionic Tutorial</h1>
  <h2>Starting a New Ionic App</h2>
  <p>
    To start a new app, open your terminal/command prompt and run<br><br>
    Use Command : ionic start MyIonicProject tutorial 
  </p>
  <img src="../../../assets/images/starting a new app.PNG"><br>
  <table>
      <tr>
          <td>start</td>
          <td>: will tell the CLI create a new app.</td>
        </tr>
        <tr>
            <td>MyIonicProject</td>
            <td>: will be the directory name and the app name from your project.</td>
        </tr>
        <tr>
            <td>tutorial</td>
            <td>: will be the starter template for your project.</td>
        </tr>
  </table><br>
  <table>
      <tr>
          Along with creating your project, this will also install node modules for the application,
          and prompt you if you want Cordova set up.<br/><br/>
          Along with the tutorial template, Ionic also provides the following official templates:<br/>
      </tr>
  </table><br>
    <table>
      <tr>
        <td>tabs</td>
        <td>: a simple 3 tab layout</td>
      </tr>
      <tr>
          <td>sidemenu</td>
          <td>: a layout with a swipable menu on the side</td>
      </tr>
      <tr>
          <td>blank</td>
          <td>: a bare starter with a single page</td>
      </tr>
      <tr>
          <td>super</td>
          <td>: starter project with over 14 ready to use page designs</td>
      </tr>
      <tr>
          <td>tutorial</td>
          <td>: a guided starter project</td>
      </tr>
    </table><br>
    <table>
      <tr>
        <td> If you don’t specify a template at the start, you will be prompted to pick one.</td>
      </tr>
    </table><br>
    <table>
      <tr><h2>Viewing the app in a browser</h2></tr>
    </table>
    <table>
      <tr>
          Now, you can cd into the folder that was created. To get a quick preview of your app in the browser, use the serve comman
      </tr>
    </table>
  
  <img src="../../../assets/images/ionicServe.PNG"><br><br>
  <img src="../../../assets/images/website.PNG">
</body>
</html>
