<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
      <div id="container">
          <nav>
              <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/intro">Intro</a></li>
                <li><a routerLink="/tutorial">Tutorial</a></li>
              </ul>
          </nav>

          <header>
            ionic
          </header>
      </div>
      <div id="main">
          <router-outlet></router-outlet>
      </div>
    <footer id="f" style="padding-top: 15px">
        copyright of Nthabiseng
    </footer>
</body>
</html>



