<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width= , initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="container2">
      <p>
          Ionic is an open-source mobile app development framework that makes it easy to build top quality native and progressive web apps with web technologies.
          Ionic is based on Web Components and comes with many significant performance, usability, and feature improvements over the past versions.<br><br>
    
          Ionic is the easiest way for web developers to build, grow, and scale cross-platform mobile apps.
          From our popular open source Framework, to our cloud Platform, 
          our goal is to enable more people and organizations to create better apps, faster.<br><br>
    
          Ionic was founded in 2012, when using web technologies as a means to build native apps was still in its infancy. 
          When they started, they just wanted to create a better way for web developers to use their existing skillsets to build apps for the app stores.<br><br>
    
          Today, Ionic is the world's most popular cross-platform mobile development technology stack, 
          powering fast growing startups to some of the biggest companies in the world.<br><br>
    
          Millions of developers from nearly every industry around the world have built millions of mobile apps with Ionic.
          Our Framework and Cloud allow developers to use web technologies to build high quality hybrid mobile apps,
          and then scale those apps simply with services like user auth, push notifications, live deployments, and more.
          Ionic not only makes app development easier, faster, and more accessible, it makes it more fun.
          Mobile is all about finding new ways to change the way humans interact with the world, 
          and we couldn’t think of anything more fun than that.
      </p>
  </div>
    
  </body>
</html>
