<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Installing Ionic</h1>
  <p>
      Ionic apps are created and developed primarily through the Ionic command line utility (the “CLI”), and use Cordova to build/deploy as a native app. 
      This means we need to install a few utilities to get developing.
  </p>

  <h2>Ionic CLI and Cordova</h2>
  <p>
    With Node and NPM setup, let’s install the Ionic and Cordova CLI.<br>

    Note: The -g means this is a global install,
    so for Windows you will need to open an Admin command prompt. For Mac/Linux,
    you might need to run the command with sudo.
  </p>
  <img src="../../../assets/images/installing ionic.PNG">
  <h2>Creating Your First Ionic App</h2>
  <p>
    Use the command : <em>ionic start helloWorld blank</em> to create your app
  </p>
  <img src="../../../assets/images/Creating First App.PNG">
  <h3>To run your app</h3>
  <p>
      cd into the directory that was created and then run the ionic serve command to test your app right in the browser!
  </p>
<img src="../../../assets/images/CD to Folder.PNG">
</body>
</html>
